body{
    background: black;
    color: white;
}

.header-img {
    display: flex;
    margin: 0 auto;
}

.main-menu-container{
    display: flex;
    flex-direction: column;
}

.main-menu {
    margin: 0 auto;
    display: flex;
    list-style: none;
    font-size: 3rem;
    flex-direction: row;
    gap: 3rem;
}

.picture-container {
    display: flex;
    justify-content: center;
    max-height: 20%;
}

.picture-container img {
    display: none;
    max-height: 45vh;
}

.main-menu__link {
    color: white;
}

.main-menu__link:hover{
    color: yellow;
    cursor: pointer;
}