body{
    background: black;
    color: white;
}

.header-img {
    display: flex;
    margin: 0 auto;
}

.main-menu-container{
    display: flex;
    
}

.main-menu {
    margin: 0 auto;
    display: flex;
    list-style: none;
    font-size: 3rem;
    flex-direction: row;
    gap: 3rem;
}

.main-menu li:hover{
    color: yellow;
    cursor: pointer;
}
.film-img{
    display: none;
}
